body {
    margin: 0;
    overflow-x: hidden;
}

.list-main-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #ededf0fa 0%, #d9d9eb6b 30%, #5156dc4d 100%);


}

.select-city-container,
.select-hostel-container {
    height: auto;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.select-city-container {
    width: 45vw;

}

.select-hostel-container {
    width: 55vw;
}

.select-city-container::-webkit-scrollbar,
.select-hostel-container::-webkit-scrollbar {
    display: none;
}

.hero-heading {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.paper-card {
    border-radius: 8px;
}

.first-box {
    width: 100%;
    background: linear-gradient(to right, #ededf0fa 0%, #d9d9eb6b 30%, #5156dc4d 100%);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.second-box {
    background-color: #f5f5f5;
    color: #000;
    height: 100vh;
}

.btn-container {
    text-align: center;
    margin-top: 10px;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.loader-box-container {
    display: flex;
    align-items: center;
}

.loader-color {
    color: #fff !important;
    margin-right: 24px;
}

.hostels-list-conatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

}

.paper-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-heading-2{
    text-align: center;
}



/* Responsive adjustments */

/* 1. Small devices (phones, less than 600px) */
@media screen and (max-width: 599px) {
    .hero-heading {
        font-size: 16px !important;
    }

    .paper-card {
        padding: 20px;
    }

    .form-container {
        width: 90%;
        padding: 0 10px;
        margin-top: 30px;

    }

    .btn-container {
        margin-top: 10px;
    }

    .select-city-container {
        width: 100vw;
        margin-top: 30px;
    }

    .first-box {
        display: block;
    }

    .select-hostel-container {
        width: 100vw;
    }


}

/* 2. Medium devices (tablets, 600px to 899px) */
@media screen and (min-width: 600px) and (max-width: 899px) {
    /* Your CSS here */

}

/* 3. Large devices (small laptops, 900px to 1199px) */
@media screen and (min-width: 900px) and (max-width: 1199px) {
    /* Your CSS here */
}

/* 4. Extra large devices (desktops, 1200px and above) */
@media screen and (min-width: 1200px) {
    /* Your CSS here */
}