.main-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #0d0d3cfa 0%, #0a0a60d9 30%, #5156dc4d 100%);

}

.btn {
  background: linear-gradient(#1d4ca0) !important;
}